.tooling/9.apispecification23efced6-6a16-4f37-83d6-d92c5d16c7a6/APIimplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="getAllArtists" doc:id="349e8317-4e62-4cb0-852f-0d84c02f8f94" >
		<db:select doc:name="Select all artists" doc:id="05a3c864-b07f-45d6-8268-7541bafc619d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM artists;]]></db:sql>
		</db:select>
		<set-payload value="#[%dw 2.0

output application/json
---
payload]" doc:name="Set Payload from JAVA to JSON" doc:id="fc4f1899-8010-49dd-a51c-9ddca16d2ca9" />
	</flow>
	<flow name="getArtistByID" doc:id="cbc4647b-eda9-485b-a829-c5ab11a2de13" >
		<vm:listener doc:name="Queue Listener" doc:id="860cd86c-cc38-4d43-8f3e-d365c29188b9" config-ref="VM_Config" queueName="artistId.toGet"/>
		<db:select doc:name="Select artist by ID" doc:id="f1df0038-07a1-43b0-90ce-00c3358e0d4c" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM artists WHERE id = :artistID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'artistID': payload
}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[%dw 2.0

output application/json
---
payload]" doc:name="Set Payload from JAVA to JSON" doc:id="374c86d8-c69a-4da9-a281-391cce48d22d" />
	</flow>
</mule>
