.tooling/9.apispecification3e7c5e36-67a8-482e-a925-74890dbc706a/APIimplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getAllArtists" doc:id="349e8317-4e62-4cb0-852f-0d84c02f8f94" >
		<db:select doc:name="Select all artists" doc:id="05a3c864-b07f-45d6-8268-7541bafc619d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM artists;]]></db:sql>
		</db:select>
		<set-payload value="#[%dw 2.0

output application/json
---
payload]" doc:name="Set Payload from JAVA to JSON" doc:id="fc4f1899-8010-49dd-a51c-9ddca16d2ca9" />
	</flow>
</mule>
